.file-upload {
  display: inline-block;
  padding: 20px;
  border: 20px dashed #ccc;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  color: #555;
  font-family: sans-serif;
  width: 250px;
}
.file-upload:hover {
  border-color: #888;
}
.upload[type="file"] {
  display: none;
}
