@import "tailwindcss";

.label {
  @apply block text-lg max-md:text-xs pb-1 font-semibold;
}
.input {
  @apply bg-[#E5E5E5] rounded-md border-none focus:outline-none h-10;
}
.uploads {
  @apply bg-[#E5E5E5] inline-block p-20 border-none rounded-2xl text-center cursor-pointer w-100 max-lg:px-10 max-lg:w-90 max-2xl:w-100 max-md:w-70;
}
.property {
  @apply bg-[#E5E5E5] inline-block px-20 py-40 border-none rounded-2xl text-center cursor-pointer w-100 max-2xl:w-100 max-lg:w-90 max-lg:px-10 max-lg:py-30 max-md:w-70 max-md:py-25;
}
.amenities {
  @apply bg-[#E5E5E5] inline-block px-20 py-25 border-none rounded-2xl text-center cursor-pointer w-90 mr-10 max-md:w-70 max-lg:w-90 max-lg:px-15;
}
.textarea {
  @apply w-full h-40 max-md:h-30 border-solid border-1 border-[#E5E5E5] rounded-xl;
}

/* :root {
  --i-green: #4ea8a1;
  --i-white: #f9f9f9;
  --i-whiter: #F4F7FA
  --i-blue: #101820;
  --i-cream: #EBEA98
} */
/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
